{% extends 'base.html'%}

{% block content%} 
  

<article class="text-center mt-4">
 <h1>About this site</h1> 
 <P> Most of the people who have pitched me their idea have failed to do it properly</P> 
 <p>Learning how to properly pitch is one of the most important skills a founder needs to develop</p>
 <p>It allows them to find investors, to attract great co-founders, to recruit the best employees, and ultimately to fine-tune their idea.</p>  
 <p>There is a simple reason why pitching is so hard: we very rarely pitch ideas, and when we do, nobody gives us feedback on the pitch itself – at best, we receive feedback on the idea.</p>
</article>
  




{% endblock%}


