{% extends 'base.html'%} {% block content%}

<div class="container">
<div class="col-lg-9 " style="color:#000">
      <h2 class="text-center" style="color:white"> ALL PITCHES </h2>
      <div class="row" >
       {% for pitch in pitches %}
        <div class="col-sm-6 mx-4 mb-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Title:{{pitch.title}}</h5>
              <p class="card-header">Category :{{pitch.category}}</p>
              <p class="card-text row-10">{{pitch.content }}</p>
              
            </div>
          </div>
        </div>
       {% endfor %} 
      </div>
    </div>

</div>

     
{% endblock%}



